@page
@model CrudlyCrudRazor_Temp.Pages.Categories.IndexModel

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h1>Category List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/categories/create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New Category
            </a>
        </div>
    </div>
</div>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model.Categories.OrderByDescending(c => c.Id))
        {
            <tr>
                <td>
                    @category.Name
                </td>
                <td>
                    @category.DisplayOrder
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <div class="btn-group gap-2" role="group">
                            <a asp-page="/categories/edit" asp-route-categoryId="@category.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-page="/categories/delete" asp-route-categoryId="@category.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                        </div>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>